

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1!important;
}
.p-4 {
  padding: 0.6rem!important;
}
.table-hover tbody tr:hover {
  color: #212529;
  background-color: rgba(0,0,0,.093);
}
.thead-bg{
  background-color: #78909c;
}
.table-header {
  padding-left: 12px !important;
  color: white;
}
.table td, .table th {
  padding: .3rem;
}
th.numero {
  padding-left: 15px;
}
.bg-info {
  background-color: rgb(6, 147, 227)!important;
}
.bg-noticket{
  color: white;
  background-color: #ef5350;
}
#candado {
  padding-right: 5px;
}
tr.bg-foot {
  background-color: #78909c8c;
}

.badge-primary{
  background-color: rgb(6, 147, 227);
}
.facturado{
background-color: #9ccc65;
}